[submodule "blobstream-contracts"]
	path = onchain/blobstream-contracts
	url = https://github.com/celestiaorg/blobstream-contracts.git
[submodule "onchain/lib/forge-std"]
	path = onchain/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
